section.about-ceatex
  .container
    .text-img
      .about-ceatex__img
        img(src='../img/about-ceatex/bg.jpg' alt='img')
      .about-ceatex__info
        h3.about-ceatex__subtitle.subtitle Who we are
        h2.about-ceatex__title.title Why Createx?
        ul.about-ceatex__list
          li.about-ceatex__element
            | A fermentum in morbi pretium aliquam adipiscing donec
            | tempus.
          li.about-ceatex__element Vulputate placerat amet pulvinar lorem nisl.
          li.about-ceatex__element
            | Consequat feugiat habitant gravida quisque elit bibendum
            | id
            | adipiscing sed.
          li.about-ceatex__element Etiam duis lobortis in fames ultrices commodo nibh.
          li.about-ceatex__element Tincidunt sagittis neque sem ac eget.
          li.about-ceatex__element
            | Ultricies amet justo et eget quisque purus vulputate
            | dapibus
            | tortor.
        a.about-ceatex__link.btn(href='') More about us
