doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    include ../styles

    title multipage site
  body
    header
      .header__wrapper.pink
        .container
          include ../header
          h3.subscribe__subtitle.subtitle course
          h2.subscribe__title.title User Experience. Principles of Human-Centered Desig
    main
      .lol     
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error molestias, quaerat officia dignissimos nobis nesciunt, obcaecati aliquam facere iste, debitis sit quidem quasi quam aut reprehenderit quibusdam itaque accusamus quod labore ipsa corporis alias voluptatibus recusandae. Maxime dicta aut corrupti, ut blanditiis excepturi voluptas voluptate molestiae sed exercitationem perferendis, aspernatur neque officiis placeat laborum animi. Ea commodi illo quis ad, obcaecati deleniti dolorem nihil tempore officia repellendus error hic sed perferendis fugit? Nihil illo voluptatibus consequatur natus quod aliquam obcaecati veritatis facilis vitae expedita illum totam minus eum eos sed maiores dignissimos facere laboriosam ipsam corrupti animi, magnam explicabo! Distinctio!
    footer
      include ../footer
    include ../js  
