section.cta-blog 
  .container
    .cta-email__wrapper.text-img
      .cta-email__img 
        img(src="../img/blog/cta-blog.png" alt="")
      form.cta-email__form(action="")
        .cta-email__title Want to get the best articles weekly?  Subscribe to our newsletter!
        .cta-email__input 
          input(type="email" placeholder='Your working email')
          button.btn Subscribe
        .label__wrapper
          input.custom-checkbox(type="checkbox" id='request') 
          label(for='request')
            |I agree to receive communications from Createx Online School
