section.testimonials.gray
  .container 
    h3.testimonials__subtitle.subtitle TESTIMONIALS
    h2.testimonials__title.title What our students say
    .slider__testimonials
      .testimonial__comment 
        .comment__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
        .comment__info 
          .comment__img
            img(src="../img/testimonials/avatar.jpg" alt="") 
          .comment__details
            .comment__name Eleanor Pena
            .comment__position Position, Course
      .testimonial__comment 
        .comment__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
        .comment__info 
          .comment__img
            img(src="../img/testimonials/avatar.jpg" alt="") 
          .comment__details
            .comment__name Eleanor Pena
            .comment__position Position, Course
      .testimonial__comment 
        .comment__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
        .comment__info 
          .comment__img
            img(src="../img/testimonials/avatar.jpg" alt="") 
          .comment__details
            .comment__name Eleanor Pena
            .comment__position Position, Course
      .testimonial__comment 
        .comment__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
        .comment__info 
          .comment__img
            img(src="../img/testimonials/avatar.jpg" alt="") 
          .comment__details
            .comment__name Eleanor Pena
            .comment__position Position, Course
